{% load static %}
<div id="notes" class="section wb">
    <div class="container">

        <h2>Günün Notları</h2>
        <hr>

        <div class="row">
            {% for rs in daynotes %}
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="our-team">
                        <div class="team-img">
                            <img src="{{ rs.image.url }}" alt="" style="height: 180px">

                        </div>
                        <div class="team-content">
                            <a href="/note/{{ rs.id }}/{{ rs.slug }}"><h3 class="title">{{ rs.title }}</h3></a>
                            <span class="post">{{ rs.keywords }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><!-- end container -->
</div><!-- end section -->
<div id="notes" class="section wb">
    <div class="container">

        <h2>Son Tıklanan Notlar</h2>
        <hr>

        <div class="row">
            {% for rs in lastnotes %}
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="our-team">
                        <div class="team-img">
                            <img src="{{ rs.image.url }}" alt="" style="height: 180px">

                        </div>
                        <div class="team-content">
                            <a href="/note/{{ rs.id }}/{{ rs.slug }}"><h3 class="title">{{ rs.title }}</h3></a>
                            <span class="post">{{ rs.keywords }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><!-- end container -->
</div><!-- end section -->
<div id="notes" class="section wb">
    <div class="container">

        <h2>Rastgele Notlar</h2>
        <hr>

        <div class="row">
            {% for rs in randomnotes %}
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="our-team">
                        <div class="team-img">
                            <img src="{{ rs.image.url }}" alt="" style="height: 180px">

                        </div>
                        <div class="team-content">
                            <a href="/note/{{ rs.id }}/{{ rs.slug }}"><h3 class="title">{{ rs.title }}</h3></a>
                            <span class="post">{{ rs.keywords }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><!-- end container -->
</div><!-- end section -->


